@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #F7F7F7;
  --secondary-color: #393E46;
  --tertiary-color: #6D9886;
}

* {
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 10;
  padding: 1rem 3rem;
  background-color: var(--primary-color);
}

.logo {
  font-size: 1.5rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tombol {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu {
  margin: 0;
  display: flex;
  padding: 0;
  background-color: var(--primary-color);
}

.menu li {
  padding: 10px 35px 10px 35px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 0 6rem;
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--tertiary-color);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.search {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  background-color: #F7F7F7;
  border-radius: 5px;
  font-size: 1rem;
}

.search:focus {
  outline: 1px solid var(--tertiary-color);
}

.button-search {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
}

.about {
  padding: 6rem 3rem;
}

.about h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--tertiary-color);
}

.about p {
  font-size: 1.2rem;
  text-align: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stat-item h2 {
  font-size: 2.5rem;
  color: var(--tertiary-color);
  margin: 0;
}

.stat-item p {
  font-size: 1.2rem;
  margin: 0;
  color: var(--tertiary-color);
}

.recent-book,
.popular-book {
  background-color: var(--secondary-color);
  color: #F7F7F7;
  width: auto;
  padding: 6rem 3rem;
}

.recent-book h2,
.popular-book h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.book-list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.book-list::-webkit-scrollbar {
  display: none;
}

.book-image {
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.book-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
}

.book-image img:hover {
  scale: 1.1;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.book-desc {
  display: flex;
  gap: 5px;
  padding: 10px 0;
}

.book-info {
  display: grid;
}

.book-rate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  display: grid;
  margin: 1rem auto;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.5s ease-in-out;
}

.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-item p {
  margin: 5px 0;
  font-size: 1rem;
}

.social-media a {
  margin-right: 10px;
  font-size: 1rem;
}


@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.aktif {
    display: inline-block;
    position: absolute;
    top: 65px;
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  .menu.aktif li a {
    padding: 10px 0;
    display: inline-block;
  }

  .tombol {
    display: block;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 3rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
    padding: 0;
  }

  .stat-item h2 {
    font-size: 1.5rem;
  }

  .recent-book h2,
  .popular-book h2 {
    font-size: 2rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 5000px) {
  .container {
    max-width: 2000px;
    margin: 0 auto;
  }
}